input[type="checkbox"] {
  display: none;
}

.checkbox {
  display: flex;
  column-gap: 3rem;
  max-width: 32.5rem;
  position: relative;
  justify-content: space-between;
  padding-left: 3rem;
}

input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  margin-left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #54536d;
  border-radius: 4px;
  transition: background-color 0.2s ease-in;
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 1;
  transform: scale(1);
  background-color: turquoise;
}

#game-col-1,
#game-col-2,
#game-col-3 {
  display: flex;
  flex-direction: column;
}
