@use "../base/colors";

.icon_text {
  color: colors.$primary-color;
  font-size: 1.2rem;
}
.icon_wrapper {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-direction: row-reverse;
}
.second_item {
  margin-left: 30vw;
}

.hidden {
  visibility: hidden;
}
.icon_wrapper svg {
  width: 100px;
  height: 100px;
}
.result_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
//mobil
@media only screen and (max-width: 750px) {
  .icon_wrapper {
    flex-direction: row;
    gap: 1rem;
    margin-left: 0;
    width: 40vw;
  }

  .second_item {
    flex-direction: row-reverse;
  }
  .icon_wrapper svg {
    width: 50px;
    height: 50px;
  }
  .icon_text {
    font-size: 1rem;
  }
}
