@use "../base/colors";

.icon_text {
  color: colors.$primary-color;
}
.icon_wrapper {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.icon_wrapper svg {
  width: 100px;
  height: 100px;
}
