@use "../base/colors";

#progress-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #stops {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;

    div {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: solid 1px colors.$border-color;
      margin-bottom: 0.5rem;
    }
  }

  #progressbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60%;
  }

  #progressbar::-webkit-progress-bar {
    background-color: transparent;
    border: solid 1px colors.$border-color;
    border-radius: 4px;
  }

  #progressbar::-webkit-progress-value {
    background-color: colors.$input-checked-color;
  }
}

.active-progress {
  background-color: colors.$input-checked-color;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
