@use "../base/colors";

input[type="radio"] {
  display: none;
}

input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  margin-left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid colors.$border-color;
  border-radius: 50%;
  transition: background-color 0.2s ease-in;
}

input[type="radio"]:checked + label:before {
  content: "";
  position: absolute;
  margin-left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid colors.$border-color;
  background-color: colors.$input-checked-color;
  background-image: url("img/cirkel.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  transition: background-color 0.2s ease-in;
}
