#personal-info input:not(:focus, :placeholder-shown):invalid {
	border: 1px solid red;
	animation: shake-animation 4.72s ease 1;
	transform-origin: 50% 50%;
	margin-bottom: 0.2rem;
}

#personal-info input:not(:focus, :placeholder-shown):invalid ~ .invalid_wrapper {
	display: inline-flex;
}

#personal-info input:not(:focus, :placeholder-shown):invalid ~ .invalid_wrapper2 {
	display: inline-flex;
}

.invalid_wrapper {
	display: flex;
	flex-direction: row;
	gap: 5px;
	font-size: 0.3rem;
	color: rgb(190, 10, 10);
	align-items: center;
	display: none;
	position: relative;
	top: -71px;
}

.invalid_wrapper2 {
	display: flex;
	flex-direction: row;
	gap: 5px;
	font-size: 0.3rem;
	color: rgb(190, 10, 10);
	align-items: center;
	img {
		width: 17px;
	}
	p {
		font-size: 13px;
	}
}

.invalid_wrapper3 {
	display: flex;
	flex-direction: row;
	gap: 5px;
	font-size: 0.3rem;
	color: rgb(190, 10, 10);
	align-items: center;
	img {
		width: 17px;
	}
	p {
		font-size: 13px;
	}
}

.invalid_wrapper p {
	font-size: 13px;
}

.invalid_wrapper img {
	width: 17px;
}

@keyframes shake-animation {
	0% {
		transform: translate(0, 0);
	}
	1.78571% {
		transform: translate(5px, 0);
	}
	3.57143% {
		transform: translate(0, 0);
	}
	5.35714% {
		transform: translate(5px, 0);
	}
	7.14286% {
		transform: translate(0, 0);
	}
	8.92857% {
		transform: translate(5px, 0);
	}
	10.71429% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
