#personal-info input:not(:focus, :placeholder-shown):invalid {
	border: 1px solid red;
	animation: shake-animation 4.72s ease 1;
	transform-origin: 50% 50%;
}

.error-message {
	font-size: 13px;
	position: relative;
	top: -100px;
	color: rgb(190, 10, 10);
	display: none;
}

#personal-info input:not(:focus, :placeholder-shown):invalid ~ .error-message {
	display: inline;
}

@keyframes shake-animation {
	0% {
		transform: translate(0, 0);
	}
	1.78571% {
		transform: translate(5px, 0);
	}
	3.57143% {
		transform: translate(0, 0);
	}
	5.35714% {
		transform: translate(5px, 0);
	}
	7.14286% {
		transform: translate(0, 0);
	}
	8.92857% {
		transform: translate(5px, 0);
	}
	10.71429% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
