$primary-color: #ffc3a4;

$secondary-color: #6e44ff;

$bg-color: #16152b;

$heading-color-animate: #4508d6;

$font-color: #fff;

$heading-color-animate: #4508d6;

$overlay-bg-color: #16152bf2;

$border-color: #54536d;
